// website colors

// light mode colors
$lBackGround: #e0dee7;
$lBackGroundOpaque: #aeacb6a8;
$lHeaderText: #161515;
$lHeaderTextOpaque: #0f0e0e8a;
$lButton: #36a0dd;
$lAccentOpaque: #b90a0a54;
$lInputBoxBorder: #b2afbd;
$lInputBoxBackground: #16151615;
$lColumnBackground: #b2afbd;

// dark mode colors
$dBackGround: #272525;
$dBackGroundOpaque: #02001ba8;
$dHeaderText: #ebebeb;
$dSubHeaderText: #c3c4d3;
$dHeaderTextOpaque: #babfc4b7;
$dHeaderOpaque: #babfc4a1;
$dButton: #36a0dd;
$dAccentOpaque: #365ddd46;
$dButtonHover: #1b3249;
$dButtonActive: #0d253d;
$dInputBoxBorder: #424d5c;
$dInputBoxBackground: #ffffff15;
$dColumnBackground: #433d49ab;

// text shadows
$textShadowPop: 2px 2px 1.5px rgba(7, 19, 51, 0.904);
$textShadowLight: 2px 2px 1.5px rgba(7, 19, 51, 0.315);
$textShadowBlur: 2px 2px 5px rgba(7, 19, 51, 0.904);

// hovers
$hoverSm: #7c7c7c2a;

// MIXINS for DarkMode and ScreenWidth

$darkMode: true;

// creates darkmode check
@mixin darkMode {
	@if($darkMode) {
		@media(prefers-color-scheme: dark) {
			@content
		}
	}
}
$xxsScreen: true;
$xxsMaxWidth: 400px;

@mixin xxsScreen {
  @if($xxsScreen) {
    @media(max-width: $xxsMaxWidth) {
      @content
    }
  }
}

// phones usually
$xsScreen: true;
$xsMaxWidth: 680px;

@mixin xsScreen {
  @if($xsScreen) {
    @media(max-width: $xsMaxWidth) {
      @content
    }
  }
}

// large phones and portrait tablets
$smScreen: true;
$smMaxWidth: 900px;

@mixin smScreen {
  @if($smScreen) {
    @media (max-width: $smMaxWidth) {
      @content;
    }
  }
}

// landscape tablets and small laptops
$mdScreen: true;
$mdMaxWidth: 1200px;

@mixin mdScreen {
  @if($mdScreen) {
    @media (max-width: $mdMaxWidth) {
      @content;
    }
  }
}

$lgScreen: true;
$lgMaxWidth: 2000px;

@mixin lgScreen {
  @if($lgScreen) {
    @media (max-width: $lgMaxWidth) {
      @content;
    }
  }
}